/* ==========================================================================
   #SELECT
   ========================================================================== */

/**
  * Error styles extended in `_field.scss`.
  */

.a-select {
    position: relative;
}

/**
* 1. Styles needed to override IOS styles.
*/

.a-select__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    font-weight: $brand-weight-1;
    color: $text-color;
    border-radius: $input-radius;
    border: 1px solid $input-border-color;
    background-color: $white;
    appearance: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;

    &::-ms-expand {
        display: none; /* [1] */
    }

    &[disabled],
    &[readonly],
    &.a-select__input--disabled {
        color: $input-disabled-color;
        background-color: $input-disabled-background-color;
        opacity: 1;
        cursor: not-allowed;

        & + .a-select__arrow {
            display: none;
        }
    }

    /**
     * 1. Placeholder styles using :invalid pseudo class
     */

    &:invalid {
        /* [1] */
        color: $input-invalid-color;
    }

    &:focus,
    &:active {
        border-color: $input-focus-border-color;
    }
}

.a-select__arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    pointer-events: none;
    background-color: $white;
}
