/* ==========================================================================
   #CONSULTATIONS-DATA-TABLE
   ========================================================================== */
// styles not associated to a styleguide component

.o-consultations-data-table {
    padding: 20px 15px 30px;
    background-color: $additional-background-color;

    @media (min-width: $screen-sm-min) {
        padding: 30px 40px 50px;
    }

    @media (min-width: $screen-md-min) {
        padding: 50px 40px 100px;
        min-height: 100vh;
    }
}

.o-consultations-data-table__back-button {
    margin-bottom: 10px;
}

.o-consultations-data-table__wrapper {
    width: 100%;

    @media (min-width: $screen-sm-min) {
        margin: 0 auto;
        width: 85%;
    }

    @media (min-width: $screen-md-min) {
        width: 100%;
    }
}
