/* ==========================================================================
   #PASSWORD-MODAL
   ========================================================================== */
// styles not associated to a styleguide component

.o-password-modal {
    @include fade-out(0.3s);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    z-index: 10;

    @media (min-width: $screen-sm-min) {
        padding: 0 40px;
    }

    &.is-visible {
        @include fade-in(0.3s);
    }
}

.o-password-modal__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, 0.2);
}

.o-password-modal__box {
    position: relative;
    z-index: 15;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 660px;
    max-height: 90vh;
    margin: 20px 0;
    padding: 25px;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
        margin-top: 50px;
        padding: 50px 50px 60px;
    }
}

.o-password-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
}

.o-password-modal__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: $brand-weight-2;
    color: $grey-1;
}

.o-password-modal__form {
    display: flex;
    flex-direction: column;
}

.o-password-modal__note {
    @include text-note-grey-4;
}

.o-password-modal__buttons-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: flex-end;
    }

    @media (min-width: $screen-md-min) {
        margin-top: 50px;
    }
}

.o-password-modal__link {
    @include text-link-small-primary;
    margin-top: 15px;

    @media (min-width: $screen-sm-min) {
        margin-right: 30px;
        margin-top: 0px;
    }
}
