/* ==========================================================================
   #CHECKBOX
   ========================================================================== */

/**
  * Error styles extended in `_field.scss`.
  */

.a-checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.a-checkbox__input {
    opacity: 0;

    &:checked + .a-checkbox__label::after {
        opacity: 1;
    }
}

.a-checkbox__label {
    @include paragraph;
    padding-left: 15px;
    line-height: 20px;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid $grey-5;
        background-color: $white;
    }

    /* Checkmark style */
    &::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        background: $brand-color-1;
        opacity: 0;
    }

    &.a-checkbox__loading::before {
        display: none;
    }
}

.a-checkbox__link {
    @include text-link;

    @media (min-width: $screen-sm-min) {
        font-size: 1rem;
    }
}
