/* ==========================================================================
   #DOCTOR-AVATRR
   ========================================================================== */

.m-doctor-avatar {
    display: flex;
    margin-top: 20px;

    @media (min-width: $screen-sm-min) {
        margin-top: 30px;
    }
}

.m-doctor-avatar__image {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    background-color: $grey-6;
    border: 1px solid $grey-5;

    @media (min-width: $screen-sm-min) {
        height: 60px;
        width: 60px;
    }
}

.m-doctor-avatar__text-wrapper {
    @media (min-width: $screen-sm-min) {
        margin-top: 5px;
    }
}

.m-doctor-avatar__name {
    @include paragraph;
    display: block;
    margin-bottom: 5px;
}

.m-doctor-avatar__id-label {
    @include text-note-grey-4;
    text-transform: uppercase;
}

.m-doctor-avatar__id-number {
    @include text-note;
    text-transform: uppercase;
}
