/* ==========================================================================
   #MESSAGE-BLOCK
   ========================================================================== */
// styles not associated to a styleguide component

.o-message-block {
    padding: 20px 15px 40px;

    @media (min-width: $screen-sm-min) {
        padding: 30px 40px 80px;
    }

    @media (min-width: $screen-md-min) {
        padding: 50px 40px 80px;
    }

    @if $theme== 'b' {
        margin-top: 100px;
    }
}

.o-message-block__back-button {
    margin-bottom: 10px;
}

.o-message-block__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        max-width: 650px;
        margin: 0 auto;
    }

    @media (min-width: $screen-md-min) {
        max-width: 650px;
    }
}

.o-message-block__icon-wrapper {
    display: flex;
    justify-content: center;
}

.o-message-block__icon {
    flex-shrink: 0;
    margin-bottom: 30px;
}

.o-message-block__title {
    @include text-style-3;
    font-weight: 600;
    margin-bottom: 10px;
}

.o-message-block__text {
    @include paragraph;
}

.o-message-block__text-block {
    width: 100%;

    p {
        @include paragraph;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    ul {
        @include paragraph;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        li {
            @include paragraph;
            padding-left: 10px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.o-message-block__text-block--lines {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid $grey-6;
    border-bottom: 1px solid $grey-6;
    text-align: left;
}

.o-message-block__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

.o-message-block__iframe-wrapper {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
