/* ==========================================================================
   #CHECKBOX
   ========================================================================== */

/**
  * Error styles extended in `_field.scss`.
  */

.a-checkbox-button {
    position: relative;
    display: flex;
    align-items: center;
}

.a-checkbox-button__input {
    display: none;
}

.a-checkbox-button__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 14px;
    padding: 8px 20px;
    font-weight: $field-button-font-weight;
    color: $field-button-color;
    border: $field-button-border;
    border-radius: $field-button-border-radius;
    background-color: $field-button-background-color;

    @media (min-width: $screen-sm-min) {
        min-width: 140px;
    }
}

.a-checkbox-button__input:checked + .a-checkbox-button__label {
    background-color: $field-button-background-color-active;
    border: $field-button-border-active;
    color: $field-button-color-active;
}
