/* ==========================================================================
   #SOCIAL BUTTONS
   ========================================================================== */

.m-social-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .o-top-bar__contact & {
        gap: 7px;
        height: 40px;

        a {
            display: flex;
            align-items: center;

            @media (min-width: $screen-md-min) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        svg {
            height: 16px;
        }
    }
}
