/* ==========================================================================
   #STATUS TAG
   ========================================================================== */

.m-status-tag {
    @include text-note-grey-3;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 8px;
    border-radius: 15px;
    border: 1px solid $grey-4;
    text-transform: uppercase;
}
