/* ==========================================================================
   #SVG-ROUNDED
   ========================================================================== */

.a-svg-rounded {
    width: 40px;
    height: 40px;
    border-radius: 30px;

    @media (min-width: $screen-sm-min) {
        width: 50px;
        height: 50px;
    }

    &.svg-fill-brand-color-1 {
        border: 1px solid $brand-color-1;
    }

    &.svg-fill-brand-color-2 {
        border: 1px solid $brand-color-2;
    }

    svg {
        width: 38px;
        height: 38px;
        padding: 7px;
        flex-shrink: 0;

        @media (min-width: $screen-sm-min) {
            width: 48px;
            height: 48px;
            padding: 10px;
        }
    }
}
