/* ==========================================================================
   #MOBILE-NOTCH
   ========================================================================== */

.a-mobile-notch {
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
}
