/* ==========================================================================
   #BREAKPOINTS
   ========================================================================== */

$screen-sm-min: 700px;
$screen-md-min: 1100px;
$screen-lg-min: 1280px;
$screen-xl-min: 1800px;
