/* ==========================================================================
   #VERIFY LIST
   ========================================================================== */

.m-verify-items {
    margin: 10px;
    color: $grey-1;
}
