/* ==========================================================================
   #DATA TABLE
   ========================================================================== */

.o-data-table__data {
    @include paragraph;
    max-width: 420px;
}

.o-data-table__data-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-sm-min) {
        justify-content: flex-end;
    }
}

.o-data-table__link {
    @include text-link-small-primary;
    display: flex;
    align-items: center;

    .o-data-table__action {
        height: 13px;
        width: 13px;
        margin: 0 3px;

        path {
            fill: $text-link;
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-left: 10px;
    }
}

.o-data-table__row {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid $data-table-border-color;

    &:first-child {
        border-top: 1px solid $data-table-border-color;
    }
}

.o-data-table__row-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-sm-min) {
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }
}

.o-data-table__status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
    }
}

.o-data-table__text {
    @include paragraph;
    @include truncate-text-ellipsis;
    max-width: 200px;

    & svg {
        margin-right: 5px;
    }

    @media (min-width: $screen-sm-min) {
        max-width: 260px;
    }
}

.o-data-table__action {
    flex-shrink: 0;
    height: 18px;
    width: 18px;
    margin-left: 20px;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
        height: 20px;
        width: 20px;
    }
}
