/* ==========================================================================
   #CHAT BLOCK
   ========================================================================== */
// styles not associated to a styleguide component

.o-chat-block {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    .m-chat-bubble {
        align-self: center;
    }

    &.systemBlock {
        .m-chat-bubble {
            padding: 20px 30px;
            font-weight: 600;
        }
    }

    &.userBlock {
        text-align: right;

        .m-chat-bubble {
            background-color: $white;
            color: $text-color;
            align-self: flex-end;
            position: relative;
            &:last-child {
                &:before,
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    bottom: 4px;
                    transform: rotate(45deg);
                }
                &:before {
                    background-color: $grey-5;
                    right: -8px;
                }
                &:after {
                    background-color: $white;
                    right: -7px;
                }
            }
        }
    }
    &.doctorBlock {
        .m-chat-bubble {
            background-color: color-mix(in srgb, $brand-color-1 50%, white);
            color: $text-color;
            align-self: flex-start;
            position: relative;
            &:last-child {
                &.writingBubble {
                    color: $grey-4;
                }
                &:before,
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    bottom: 4px;
                    transform: rotate(45deg);
                }
                &:before {
                    background-color: $grey-5;
                    left: -8px;
                }
                &:after {
                    background-color: color-mix(in srgb, $brand-color-1 50%, white);
                    left: -7px;
                }
            }
        }
    }
}
