/* ==========================================================================
   #EMERGENCY-CARD
   ========================================================================== */

.m-emergency-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px;
    background-color: $white;
    box-shadow: 0 0 7px 0 rgba($black, 0.15);

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        padding: 20px;
    }
}

.m-emergency-card__drag {
    margin: 5px 10px 5px 5px;
    flex-shrink: 0;
    cursor: grab;
}

.m-emergency-card__avatar {
    margin-bottom: 10px;
    align-self: flex-start;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}

.m-emergency-card__edit {
    align-self: flex-start;
    margin-left: auto;
    margin-top: 5px;
    flex-shrink: 0;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 2px;
    }
}
