/* ==========================================================================
   #TEST BLOCK
   ========================================================================== */

.o-test-block__fields-group {
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 30px;
    }
}

.o-test-block__field {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.o-test-block__input {
    width: 100%;
    max-width: 250px;
    margin-right: 30px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.o-test-block__actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
}

.o-test-block__note {
    @include text-note-grey-4;
    display: block;
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}
