/* ==========================================================================
   #MESSAGE
   ========================================================================== */

.m-message {
    display: flex;
    justify-content: center;
    min-height: 40px;
    padding: 10px 20px;
    border: 1px solid $grey-6;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
        padding: 10px 50px;
    }
}

.m-message__text {
    font-size: 0.937rem;
    font-weight: $brand-weight-1;
    color: $grey-1;
}

/* Style Modifiers
   ========================================================================== */

.m-message--error {
    background-color: #ffebed;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    padding: 12px 16px;
    color: #a2000f;

    .m-message__text {
        color: #a2000f;
        line-height: 1.5;
    }
}

.m-message--error-outline {
    border: 1px solid $red;
    background-color: $white;

    .m-message__text {
        color: $red;
    }
}

.m-message--error-naked {
    display: block;
    min-height: 40px;
    padding: 10px 0;
    border: none;
    background-color: transparent;

    .m-message__text {
        color: $red;
    }

    @media (min-width: $screen-sm-min) {
        padding: 10px 0;
    }
}
