/* ==========================================================================
   #IFRAME-BLOCK
   ========================================================================== */

.o-iframe-block {
    padding: 20px 15px 40px;

    @media (min-width: $screen-sm-min) {
        padding: 30px 40px 80px;
    }

    @media (min-width: $screen-md-min) {
        padding: 50px 40px 80px;
    }

    @if $theme== 'b' {
        margin-top: 90px;
    }
}

.o-iframe-block__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        max-width: 650px;
        margin: 0 auto;
    }

    @media (min-width: $screen-md-min) {
        max-width: 650px;
    }
}

.o-iframe-block__back-button {
    margin-right: auto;
}

.o-iframe-block__title {
    @include text-style-3;
    color: $text-color;
    font-weight: 600;
    margin-bottom: 10px;
}

.o-iframe-block__text {
    @include paragraph;
}

.o-iframe-block__text-block {
    width: 100%;

    p {
        @include paragraph;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    ul {
        @include paragraph;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        li {
            @include paragraph;
            padding-left: 10px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.o-iframe-block__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

.o-iframe-block__button {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (min-width: $screen-sm-min) {
        &:not(:last-child) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
}

.o-iframe-block__iframe {
    border: 1px solid $grey-5;
    border-radius: 5px;
}

.o-iframe-block__iframe-wrapper {
    width: 100%;
    height: auto;
    margin-top: 30px;

    iframe {
        border: 1px solid $grey-5;
        border-radius: 5px;
    }
}
