/* ==========================================================================
   #BASE
   ========================================================================== */

.preload * {
    /* [1] */
    transition: none;
}

html {
    -webkit-font-smoothing: antialiased; /* [2] */
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-height: 100%; /* [3] */
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-family: $primary-font;
    font-size: $font-base-size;
    font-weight: $brand-weight-1;
    line-height: 1.25;
    color: $text-color;

    &.has-scroll-blocked {
        overflow: hidden;
    }
}

body {
    background-color: $site-background-color;
    max-width: 1800px;
    height: 100vh;
    margin: 0 auto;

    &.iframe {
        height: auto;
        overflow-y: hidden;
    }

    @media (min-width: $screen-xl-min) {
        border-left: solid 1px $grey-7;
        border-right: solid 1px $grey-7;
    }

    &.has-scroll-blocked {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;

        @media (min-width: $screen-md-min) {
            overflow: auto;
            position: static;
            height: auto;
        }
    }
}

.l-site-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    max-width: 1800px;
    margin: 0 auto;
    overflow: clip;

    .iframe & {
        min-height: auto;
    }

    @if $theme== 'b' {
        @include menu-top-position;
    }
}

.l-site-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 80vh;

    .iframe & {
        flex-grow: unset;
        min-height: auto;
    }
}

#react_app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .iframe & {
        flex-grow: unset;
    }
}
