/* ==========================================================================
   #SVG
   ========================================================================== */

.svg-fill-brand-color-1 {
    path {
        fill: $brand-color-1;
    }
}

.svg-fill-brand-color-2 {
    path {
        fill: $brand-color-2;
    }
}

.svg-fill-white {
    path {
        fill: $white;
    }
}

.svg-fill-red {
    path {
        fill: $red;
    }
}

.svg-fill-grey {
    path {
        fill: $grey-4;
    }
}

.svg-fill-grey-6 {
    path {
        fill: $grey-6;
    }
}
