/* ==========================================================================
   #RADIO-BUTTON
   ========================================================================== */

/**
 * Extended in `_field.scss`.
 */

.a-radio-button {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.a-radio-button__input {
    opacity: 0;

    &:checked + .a-radio-button__label::after {
        opacity: 1;
    }
}

.a-radio-button__label {
    @include paragraph;
    padding-left: 15px;
    line-height: 20px;
    cursor: pointer;

    /* Radio-button style */
    &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $grey-5;
        border-radius: 100%;
        background-color: $white;
    }

    &::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: $brand-color-1;
        border-radius: 100%;
        opacity: 0;
    }
}
