/* ==========================================================================
   #LIST-ITEM-A
   ========================================================================== */

.m-list-item-a {
    display: flex;
    flex-direction: column;

    @if $theme== 'a' {
        &:only-child {
            @media (min-width: $screen-sm-min) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .m-list-item-a__text-panel {
                    margin: 0 0 0 -40px;
                }
            }

            @media (min-width: $screen-md-min) {
                .m-list-item-a__text-panel {
                    margin: 20px 0 20px -40px;
                    padding: 60px 40px 70px;
                }
            }
        }
    } @else if $theme== 'b' {
        gap: 30px;
        padding: 30px;

        @media (min-width: $screen-sm-min) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            grid-gap: 30px;
            padding: 0;

            &:nth-child(even) {
                direction: rtl;

                .m-list-item-a__text-panel {
                    align-items: flex-end;
                    text-align: right;
                    direction: ltr;
                    margin-left: auto;
                }

                .m-list-item-a__links-list {
                    justify-content: flex-end;
                }
            }
        }

        @media (min-width: $screen-md-min) {
            grid-gap: 60px;
        }
    }
}

.m-list-item-a__image--wrapper {
    overflow: clip;

    @if $theme== 'a' {
        border-radius: 4px;
    } @else if $theme== 'b' {
        border-radius: calc($panels-radius * 2);
        aspect-ratio: 1/1;

        @media (min-width: $screen-md-min) {
            aspect-ratio: 4/3;
        }
    }
}

.m-list-item-a__image {
    width: 100%;
    height: auto;
    display: block;

    @if $theme== 'b' {
        height: 100%;
        object-fit: cover;
    }
}

.m-list-item-a__text-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @if $theme== 'a' {
        position: relative;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: -40px;
        padding: 30px 30px 50px;
        border-radius: $panels-radius;
        background-color: $white;
        flex-grow: 1;
    } @else if $theme== 'b' {
        .s-cms-content p {
            text-wrap: balance;
            max-width: 500px;
        }
    }
}

.m-list-item-a__title {
    @include text-style-2;

    &.m-list-item-a__colored-title {
        color: $brand-color-2;
    }
}

.m-list-item-a__links-list {
    display: flex;

    @if $theme== 'a' {
        flex-direction: column;
        height: 100%;
        gap: 10px;
    } @else if $theme== 'b' {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.m-list-item-a__link {
    @if $theme== 'a' {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $arrow-gap;

        .m-list-item-a__link-icon {
            width: 20px;
            height: 20px;
            mask-image: url('#{$icons-path}/icon--arrow-lateral.svg');
            mask-repeat: no-repeat;
            background-color: $text-link;
            margin-top: 4px;
        }

        .m-list-item-a__link-text {
            @include text-link;
            font-weight: $brand-weight-2;
        }

        @media (min-width: $screen-md-min) {
            &:hover {
                .m-list-item-a__link-icon {
                    background-color: $brand-color-1-light;
                }
            }
        }
    } @else if $theme== 'b' {
        display: grid;
        grid-template-columns: 30px auto;
        border-radius: 6px;
        overflow: hidden;
        transition: grid-template-columns 0.2s linear;

        .m-list-item-a__link-icon {
            width: 30px;
            height: 100%;
            background: $text-link url('#{$icons-path}/icon--arrow-lateral-2.svg') no-repeat center center;
        }

        .m-list-item-a__link-text {
            @include paragraph;
            font-weight: $brand-weight-2;
            padding: 5px 10px;
            color: $brand-color-2;
            background-color: $grey-7;
            transition: padding 0.2s linear;
        }

        @media (min-width: $screen-md-min) {
            grid-template-columns: 0 auto;

            .m-list-item-a__link-text {
                padding: 5px 25px;
            }

            &:hover {
                grid-template-columns: 30px auto;

                .m-list-item-a__link-text {
                    padding: 5px 10px;
                    background-color: $grey-7;
                }
            }
        }
    }
}
