/* ==========================================================================
   #FAQ COLLAPSIBLE
   ========================================================================== */

.m-faq {
    margin: 15px 0;
}

.m-question {
    @include paragraph;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;

    &.faq-open {
        .a-dropdown__arrow {
            transform: rotate(180deg);
        }
    }
}

.m-answer {
    @include paragraph;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0px 30px 0px 30px;
    transition: max-height 0.3s ease-out;

    &.faq-open {
        max-height: 1000px;
    }
}
