/* ==========================================================================
   #LANG-SELECTOR
   ========================================================================== */

.m-lang-selector {
    position: relative;
    align-self: flex-end;

    .o-header__nav-mobile & {
        .a-dropdown__arrow {
            transform: rotate(180deg);
        }
        &.is-open {
            .a-dropdown__arrow {
                transform: rotate(0);
            }
        }
    }

    &.is-open {
        .a-dropdown__arrow {
            transform: rotate(180deg);
        }
    }

    &.m-lang-selector--visible {
        position: static;
        overflow: auto;
    }
}

.m-lang-selector__action {
    @include text-link-small;
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: $lang-selector-action-color;
    cursor: pointer;

    @if $theme== 'b' {
        margin-right: 30px;

        .a-dropdown__arrow {
            display: none;
        }
    }

    .m-lang-selector--visible & {
        display: none;
    }

    .m-lang-selector__icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
}

.m-lang-selector__wrapper {
    position: absolute;
    z-index: 400;
    top: 40px;
    right: 0;
    width: 170px;
    background-color: $grey-9;

    @media (min-width: $screen-md-min) {
        right: -20px;
    }

    .m-lang-selector--visible & {
        height: 100%;
        overflow-y: scroll;
    }
}

.m-lang-selector__list {
    @include reset-list;
    display: none;
    padding: 0;

    .m-lang-selector--visible & {
        display: block !important;
        position: static;
        border: none;
        padding: 0;
    }
}

.m-lang-selector__item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $grey-8;
    border-bottom: $grey-5;
    transition: background-color 0.1s ease-in-out;

    &:first-child {
        border-top: solid 1px $grey-5;
    }

    .m-lang-selector--visible & {
        border: 0;
        border-bottom: solid 1px $grey-5;
    }

    &.is-active {
        background-color: color-mix(in srgb, $top-bar-background-color 20%, $white);

        .m-lang-selector__link {
            font-weight: $brand-weight-2;
            color: $header-link-color-hover;
        }

        .m-lang-selector__icon-check {
            display: block;
        }
    }

    @media (min-width: $screen-md-min) {
        background-color: color-mix(in srgb, $top-bar-background-color 5%, $white);
        border-bottom: solid 1px color-mix(in srgb, $top-bar-background-color 20%, $white);

        &:first-child {
            border-top: 0;
        }

        &:hover {
            background-color: $top-bar-background-color;

            .m-lang-selector__link {
                color: $white;
            }
        }
    }
}

.m-lang-selector__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 0.937rem;
    font-weight: $brand-weight-1;
    color: $header-link-color;
    padding-left: 49px;

    .m-lang-selector--visible & {
        height: 50px;
    }

    @media (min-width: $screen-md-min) {
        padding-left: 36px;
    }
}

.m-lang-selector__icon-check {
    position: absolute;
    left: 28px;
    top: 15px;
    display: none;

    .m-lang-selector--visible & {
        top: 17px;
    }

    @media (min-width: $screen-md-min) {
        left: 10px;
    }
}

/* Navigation modifiers
   ========================================================================== */

.m-lang-selector--navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 375px;
    margin-top: auto;
    padding-bottom: 80px;
    border-top: 1px solid $grey-5;
    background-color: $lang-selector-navigation-background-color;

    @media (min-width: $screen-md-min) {
        border-top: 2px solid $white;
    }

    &.m-lang-selector--visible {
        background-color: transparent;
        margin-top: 0;
    }
}

.m-lang-selector__action--navigation {
    justify-content: space-between;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $screen-sm-min) {
        height: 60px;
    }
}

.m-lang-selector__action-icon--navigation {
    &:first-child {
        margin-right: 15px;
    }

    &:last-child {
        margin-left: auto;
    }
}

.m-lang-selector__wrapper--navigation {
    width: 100%;
    top: -1px;
    border-left: 0;
    border-right: 0;
    padding: 0;
    display: block;

    @media (min-width: $screen-sm-min) {
        left: -1px;
        width: calc(100% + 2px);
    }
}

.m-lang-selector__list--navigation {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $white;
    max-height: 65vh;
    overflow-y: scroll;
}

.o-top-bar {
    .m-lang-selector__action {
        color: $top-bar-action-color;
    }

    .a-dropdown__arrow {
        background-color: $white;
    }
}
