/* ==========================================================================
   #CONSULTATIONS-CARD
   ========================================================================== */

.m-consultations-card {
    border-radius: $panels-radius-low;
    overflow: clip;
    box-shadow: 0 0 10px $grey-6;
    transition: box-shadow 0.1s linear;
    cursor: pointer;

    @media (min-width: $screen-md-min) {
        &:hover {
            box-shadow: 0 0 13px $grey-4;
        }
    }
}

.m-consultations-card__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
}

// TEXT WRAPPER
.m-consultations-card__text-wrapper {
    width: 100%;

    @media (min-width: $screen-sm-min) {
        flex-grow: 1;
        width: 50%;
        padding-right: 30px;
    }

    @media (min-width: $screen-md-min) {
        width: 60%;
    }
}

.m-consultations-card__title {
    margin-bottom: 5px;
}

.m-consultations-card__channel {
    @include paragraph-bold;
}

.m-consultations-card__specialty {
    @include paragraph;
}

.m-consultations-card__text {
    @include text-note-grey-3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media (min-width: $screen-sm-min) {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// DATA FINAL
.m-consultations-card__data-wrapper {
    display: grid;
    grid-template-areas:
        'patient timing'
        'status timing';
    grid-row-gap: 6px;
    justify-content: space-between;
    align-items: end;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        grid-template-areas:
            'patient'
            'timing'
            'status';
        grid-row-gap: 8px;
        justify-items: end;
        width: auto;
    }
}

.m-consultations-card__patient {
    @include text-note-grey-3;
    grid-area: patient;
}

.m-consultations-card__schedule {
    grid-area: timing;
    display: grid;
    grid-template-areas:
        'date'
        'time';
    justify-items: end;
    row-gap: 6px;

    @media (min-width: $screen-sm-min) {
        grid-template-areas: 'date time';
        margin-bottom: 4px;
    }
}

.m-consultations-card__asap {
    grid-area: timing;
    display: grid;
    grid-template-areas: 'date icon';
    justify-items: end;
    row-gap: 6px;
    background-color: $brand-color-1-lighter;
    padding: 0 10px;
    border-radius: 4px;

    &::after {
        content: '';
        flex-shrink: 0;
        width: 12px;
        mask-image: url('#{$icons-path}/icon--bolt.svg');
        mask-repeat: no-repeat;
        background-color: $brand-color-1;
        margin: 4px 0 0 8px;
    }
}

.m-consultations-card__date {
    @include paragraph-bold;
}

.m-consultations-card__time {
    @include paragraph;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
    color: $grey-4;

    svg {
        path {
            fill: $grey-4;
        }
    }

    &.m-consultations-card__time--upcoming {
        color: $brand-color-1;

        svg {
            path {
                fill: $brand-color-1;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
        margin-left: 8px;
    }
}

.m-consultations-card__status {
    grid-area: status;
    justify-self: start;

    @media (min-width: $screen-sm-min) {
        justify-self: end;
    }
}

// GO BUTTON
.m-consultations-card__go-to-button {
    @include paragraph;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 8px 18px;
    background-color: $primary-button-background-color;
    color: $primary-button-color;
    text-transform: uppercase;
    cursor: pointer;

    @media (min-width: $screen-md-min) {
        &:hover {
            background-color: $primary-button-hover-background-color;
        }
    }
}
