/* ==========================================================================
   #DOWNLOAD BUTTONS
   ========================================================================== */

.os-ios {
    .m-download-button-google {
        display: none;
    }
}
.os-android {
    .m-download-button-apple {
        display: none;
    }
}

.m-download-buttons-title {
    margin: 20px auto;
}

.m-download-buttons-cont {
    display: flex;
    gap: 10px;
    justify-content: center;

    @media (min-width: $screen-md-min) {
        gap: 20px;
    }

    &.m-download-buttons-cont-centered-md {
        @media (min-width: $screen-md-min) {
            justify-content: flex-start;
        }
    }

    &.m-download-buttons-cont-centered-sm {
        @media (min-width: $screen-sm-min) {
            justify-content: flex-start;
        }
    }
}

.m-download-button {
    .m-download-button__link img {
        border-style: none;
        height: 40px;

        @media (min-width: $screen-md-min) {
            &:hover {
                transform: scale(1.05);
                transition: transform 0.1s ease-in-out;
            }
        }
    }
    .m-download-button__qr {
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
            width: 115px;
            height: 115px;
            margin: 10px;
            border-radius: 10px;
        }
    }
}
