/* ==========================================================================
   #MODAL
   ========================================================================== */

.o-base-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    z-index: 501;

    @media (min-width: $screen-sm-min) {
        padding: 0 40px;
    }

    &.is-visible {
        @include fade-in(0.3s);
    }
}

.o-base-modal__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, 0.2);
}

.o-base-modal__box {
    position: fixed;
    z-index: 301;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 660px;
    max-height: 80vh;
    margin: 20px 0;
    border-radius: $panels-radius-low;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
        margin-top: 50px;
    }

    &.o-base-modal__box--wide {
        max-width: 990px;
    }
}

.o-base-modal__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &.o-base-modal__wrapper--layout {
        .o-base-modal__text {
            margin-bottom: 10px;

            ul {
                margin-top: 5px;
            }
        }
    }

    &.o-base-modal__wrapper--flex {
        .m-field__wrapper {
            display: flex;
            align-items: flex-start;
            gap: 40px;
        }
    }
}

.o-base-modal__header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 25px;
    border-bottom: 1px solid $grey-5;

    &:has(.o-base-modal__icon:only-child) {
        justify-content: flex-end;
    }

    &:empty {
        display: none;
    }
}

.o-base-modal__body {
    padding: 25px;
    overflow-y: auto;
}

.o-base-modal__icon {
    @include close-icon;

    &:after,
    &:before {
        background-color: $grey-4;
    }

    &.white:after,
    &.white:before {
        background-color: white !important;
    }

    @media (min-width: $screen-md-min) {
        &:hover {
            &:after,
            &:before {
                background-color: $grey-2;
            }
        }
    }
}

.o-base-modal__warning {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #8e8e8e;
    font-size: 1rem;
    font-weight: bold;
    border-radius: $input-radius;
    line-height: 1.5;
    color: $white;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 20px;
        padding: 20px 30px;
    }
}

.o-base-modal__title {
    font-size: 1.5rem;
    font-weight: $brand-weight-2;
    color: $grey-1;
}

.o-base-modal__text {
    @include paragraph;
    overflow: auto;
    margin-bottom: 30px;
}

.o-base-modal__note {
    @include text-note-grey-4;
}

.o-base-modal__buttons-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

    &.o-base-modal__buttons-wrapper--with-children {
        padding: 20px;
        background: 'white';
        border-top: 1px solid #cccccc;
        z-index: 1;
        border-radius: 0 0 15px 15px;
        margin-top: 0;
    }

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: flex-end;
    }

    @media (min-width: $screen-md-min) {
        margin-top: 50px;
    }
}

.o-base-modal__close-link {
    @include text-link-small-primary;
    margin-top: 15px;

    @media (min-width: $screen-sm-min) {
        margin-right: 30px;
        margin-top: 0px;
    }
}
