.o-warning-block {
    border-radius: 40px;
    background-color: #ffbf0a;
    box-shadow: 25px 25px 30px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 260px;
    max-width: 380px;
    margin: auto;
    padding: 16px;
    cursor: default;
}
.o-warning-block__icon {
    width: 160px;
    height: 160px;
    margin-top: -90px;
    border-radius: 100%;
    background-color: #ff1d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.o-warning-block__icon-img {
    object-fit: contain;
    width: 130px;
    height: 130px;
}
.o-warning-block__close {
    background-color: #332d69;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.o-warning-block__title {
    margin-bottom: 10px;
    color: #332d69 !important;
    font-weight: 900 !important;
}
.o-warning-block__message {
    border-radius: 20px;
    background-color: white;
    padding: 26px 18px;
    text-align: center;
}
.o-warning-block__button {
    border-radius: 55px;
    background-color: #ed2728;
    padding: 5px 16px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 2.08px;
    font-size: 16px;
}
.o-warning-overlay {
    position: fixed;
    inset: 0;
    background: rgba(white, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 100vh;
    width: 100%;
    cursor: pointer;
}
