.o-warning-block {
    @include fade-in(0.3s);
    border-radius: $button-radius;
    background-color: $grey-5;
    box-shadow: 25px 25px 30px rgba($black, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    padding: 22px 16px;
    position: relative;
    max-width: 80%;
    cursor: default;
    @media (min-width: $screen-md-min) {
        @include max-width-reduced;
    }
    &--warning {
        background-color: $yellow;
    }
    &--info {
        .o-warning-block__icon,
        .o-warning-block__button {
            background-color: $blue;
        }
    }
    &--error {
        background-color: $blue;
        .o-warning-block__close {
            background-color: $red;
        }
        .o-warning-block__title {
            color: $white;
        }
    }
}
.o-warning-block__icon {
    @include resize-icon(160px, 160px);
    border-radius: 100%;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    margin-bottom: 10px;
    animation: warning-pulse 2.5s ease-in-out infinite;

    @media (min-width: $screen-md-min) {
        @include resize-icon(200px, 200px);
         margin-top: -125px;
    }
}

.o-warning-block__icon-img {
    @include resize-icon(140px, 140px);
    object-fit: contain;
    @media (min-width: $screen-md-min) {
        @include resize-icon(170px, 170px);
    }
}
.o-warning-block__close {
    @include resize-icon(50px, 50px);
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: $blue;
    color: $white;
    border-radius: $button-radius;
    font-size: 25px;
    font-weight: $brand-weight-for-title-1;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    &:hover {
        transform: scale(1.02);
    }
}
.o-warning-block__title {
    margin-bottom: 10px;
    color: $blue;
    font-weight: 900 !important;
}
.o-warning-block__message {
    border-radius: $panels-radius;
    background-color: $white;
    padding: 26px 18px;
    text-align: center;
    width: 100%;
    p {
        color: $grey-1;
        font-size: 15px;
        line-height: 1.2;
    }
}
.o-warning-block__button {
    border-radius: $button-radius;
    background-color: $red;
    padding: 5px 16px;
    margin-top: 10px;
    color: $white;
    font-weight: 700;
    letter-spacing: 2.08px;
    font-size: 16px;
    cursor: pointer;
    transform: scale(1);

    &:hover {
        transform: scale(1.02);
    }
}
.o-warning-overlay {
    @include backdrop;
    background: rgba($white, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes warning-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
}
