/* ==========================================================================
   #BENEFICIARY-CARD
   ========================================================================== */

.m-beneficiary-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    background-color: $white;
    box-shadow: 0 0 7px 0 rgba($black, 0.15);

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        padding: 20px 30px 25px 30px;
        margin-bottom: 20px;
    }

    &.m-beneficiary-card__deactivated {
        background-color: $grey-8;

        .m-patient-avatar {
            opacity: 0.7;
        }
    }

    .m-beneficiary-card__remove {
        flex-shrink: 0;
        cursor: pointer;
    }
}
