/* ==========================================================================
   #BUTTON ICON
   ========================================================================== */

.a-button-icon {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    @media (min-width: $screen-md-min) {
        max-width: 90%;
    }

    &:hover,
    &.is-active {
        opacity: 0.7;
    }

    &:disabled {
        border: solid 2px $disabled-button-color;
        cursor: not-allowed;

        path {
            fill: $disabled-button-color;
        }

        @media (min-width: $screen-md-min) {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.a-button-icon_text {
    @include label-text;
    text-transform: none;
    line-height: 1.3;
    text-align: left;
    color: $brand-color-2;
}
