/* ==========================================================================
   #DATA-BAR
   ========================================================================== */

.o-data-bar {
    @include reset-list;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid $grey-5;
    border-bottom: 1px solid $grey-5;

    @media (min-width: $screen-sm-min) {
        flex-wrap: nowrap;
    }
}

.o-data-bar__service {
    @include paragraph-bold;
    flex-basis: 100%;

    @media (min-width: $screen-sm-min) {
        flex-basis: auto;
    }
}

.o-data-bar__schedule {
    flex-grow: 1;
    display: flex;
    gap: 7px;
    justify-content: flex-end;

    .o-data-bar__date {
        @include paragraph-bold;
        min-width: 90px;
        text-align: right;
    }
    .o-data-bar__time {
        @include paragraph;
        display: flex;
        gap: 7px;
        align-items: center;
        color: $grey-4;

        svg {
            path {
                fill: $grey-4;
            }
        }

        &.o-data-bar__time--upcoming {
            color: $brand-color-1;

            svg {
                path {
                    fill: $brand-color-1;
                }
            }
        }
    }
}

.o-data-bar__asap {
    margin-top: 3px;
}
