/* ==========================================================================
   #PATIENT-DATA
   ========================================================================== */

.o-patient-data {
    @if $theme== 'a' {
        background-color: $additional-background-color;
        padding: 30px 15px;

        @media (min-width: $screen-sm-min) {
            padding: 40px;
        }
    } @else if $theme== 'b' {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        padding: 150px 30px 50px 30px;

        @media (min-width: $screen-sm-min) {
            padding: 150px 40px 50px 40px;
        }
        @media (min-width: $screen-md-min) {
            position: sticky;
            top: 0;
            align-self: start;
            padding: 130px 40px 80px 40px;
        }

        .a-button {
            grid-column: 1;
            grid-row: 1;
        }
        .o-patient-data__title {
            grid-column: 2;
            grid-row: 1;
        }
        .o-grid {
            grid-column: 1/3;
            grid-row: 2;
        }
    }
}

.o-patient-data__title {
    color: $text-color;
    display: block;

    @if $theme== 'a' {
        @include text-style-2-b;
        margin: 30px 0;
    } @else if $theme== 'b' {
        @include text-style-4;
        align-self: center;
        margin-bottom: 20px;
    }
}
