/* ==========================================================================
   #SWIPER-CONTENT-BANNER
   ========================================================================== */

.o-swiper-content-banner {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;

    @media (min-width: $screen-sm-min) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 40px;
        margin-left: 40px;
    }

    @media (min-width: $screen-md-min) {
        flex-direction: row;
        align-items: center;
        margin-right: 70px;
        margin-left: 70px;
        min-height: 400px;
    }

    @media (min-width: $screen-xl-min) {
        min-height: 500px;
    }

    &.o-swiper-content-banner--hero {
        position: relative;
        flex-direction: column;
        margin: 0;

        @media (min-width: $screen-md-min) {
            justify-content: flex-start;
            align-items: center;
            min-height: 600px;
        }

        .o-swiper-content-banner__text-panel {
            padding: 20px 40px 30px;
            background-color: $white;
            text-align: center;

            @media (min-width: $screen-sm-min) {
                position: relative;
                z-index: 1;
                padding: 40px 50px 50px;
                max-width: none;
            }

            @media (min-width: $screen-md-min) {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 50px 30px;
                padding: 40px 50px 50px;
                text-align: left;
                min-width: 600px;
                max-width: 410px;
                width: auto;
                height: auto;
                background-color: $hero-block-text-panel-background-color;
            }

            .o-swiper-content-banner__title {
                @include text-style-1;
                margin: 30px;

                @media (min-width: $screen-sm-min) {
                    margin: 0 0 40px 0;
                }
            }

            .o-swiper-content-banner__subtitle {
                @include text-style-4;
                margin: 0 auto 30px;
                font-weight: $brand-weight-1;
                text-align: center;
                line-height: 1.3;
                color: $title-color;

                p:not(:last-child) {
                    margin-bottom: 10px;
                }

                strong {
                    color: $brand-color-1;
                    font-weight: 600;

                    a {
                        color: $brand-color-1;
                        text-decoration: underline;
                    }
                }

                @media (min-width: $screen-md-min) {
                    margin: 0 0 30px;
                    text-align: left;
                }
            }

            .m-app-badge {
                top: -55px;
                left: 50%;
                margin-left: -72px;

                @media (min-width: $screen-md-min) {
                    top: -20px;
                    left: 93%;
                }
            }
        }

        .o-swiper-content-banner__image {
            height: 350px;

            @media (min-width: $screen-sm-min) {
                width: 100%;
                height: 420px;
            }

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}

.o-swiper-content-banner__image {
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 320px;
    height: 50%;

    @media (min-width: $screen-sm-min) {
        width: 50%;
        height: 100%;
    }
    @media (min-width: $screen-md-min) {
        height: 435px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media (min-width: $screen-xl-min) {
        height: 100%;
    }

    &.back-slide-1a {
        background-image: url('/projects/movistar/images/main/consulta-medica.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/consulta-medica-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/consulta-medica-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/consulta-medica-xl.jpg');
        }
    }

    &.back-slide-1b {
        background-image: url('/projects/movistar/images/main/especialidades.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/especialidades-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/especialidades-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/especialidades-xl.jpg');
        }
    }

    &.back-slide-1c {
        background-image: url('/projects/movistar/images/main/receta.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/receta-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/receta-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/receta-xl.jpg');
        }
    }

    &.back-slide-1d {
        background-image: url('/projects/movistar/images/main/medico.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/medico-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/medico-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/medico-xl.jpg');
        }
    }

    &.back-slide-1e {
        background-image: url('/projects/movistar/images/main/preevaluacion.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/preevaluacion-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/preevaluacion-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/preevaluacion-xl.jpg');
        }
    }

    &.back-slide-2a {
        background-image: url('/projects/movistar/images/main/ponte-en-forma.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/ponte-en-forma-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/ponte-en-forma-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/ponte-en-forma-xl.jpg');
        }
    }

    &.back-slide-2b {
        background-image: url('/projects/movistar/images/main/soporte-nutricional.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/soporte-nutricional-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/soporte-nutricional-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/soporte-nutricional-xl.jpg');
        }
    }

    &.back-slide-2c {
        background-image: url('/projects/movistar/images/main/articulos.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/articulos-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/articulos-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/articulos-xl.jpg');
        }
    }

    &.back-slide-3a {
        background-image: url('/projects/movistar/images/main/explora.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/explora-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/explora-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/explora-xl.jpg');
        }
    }

    &.back-slide-3b {
        background-image: url('/projects/movistar/images/main/descuentos-presenciales.jpg');

        @media (min-width: $screen-md-min) {
            background-image: url('/projects/movistar/images/main/descuentos-presenciales-md.jpg');
        }

        @media (min-width: $screen-lg-min) {
            background-image: url('/projects/movistar/images/main/descuentos-presenciales-lg.jpg');
        }

        @media (min-width: $screen-xl-min) {
            background-image: url('/projects/movistar/images/main/descuentos-presenciales-xl.jpg');
        }
    }

    &.back-slide-hero-01 {
        background-image: url('/projects/movistar/images/main/app-movistar-salud.jpg');
    }

    &.back-slide-hero-02 {
        background-image: url('/projects/movistar/images/main/salud-mental.jpg');
    }

    &.back-slide-hero-video {
        background: url('/projects/movistar/images/main/gfp-video-780.mov');
    }
}

.o-swiper-content-banner__text-panel {
    position: relative;
    z-index: 2;
    padding: 50px 65px;
    background-color: $brand-color-2;

    .s-cms-content p {
        color: $white;
    }

    .o-swiper-content-banner__logos {
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            max-width: 28%;
            max-height: 40px;
            margin: 18px 5% 0 0;
        }
    }

    .o-swiper-content-banner__text-small {
        display: block;
        margin-top: 10px;
        font-size: 0.812rem;
        line-height: 23px;
    }

    .o-swiper-content-banner__svg-logo {
        margin-bottom: -4px;
        margin-left: 5px;
    }

    .a-button {
        align-self: center;
    }

    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 50%;
        padding: 60px 30px 50px 50px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .a-button {
            max-width: fit-content;
        }
    }
    @media (min-width: $screen-md-min) {
        position: relative;
        max-width: 450px;
        margin: 40px 50px;
        border-radius: 4px;
        background-color: $text-block-image-background-color;

        .a-button {
            align-self: auto;
        }
    }
}

.o-swiper-content-banner__title {
    @include text-style-2-white;
    margin-bottom: 15px;

    @media (min-width: $screen-md-min) {
        margin-bottom: 20px;
    }
}

.o-swiper-content-banner__app-screen {
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
        position: absolute;
        top: -53px;
        right: 82px;
        background-size: cover;
        background-position: center;
        width: 230px;
        height: 460px;
        border-radius: 20px;
        border: 6px solid #ffffff;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.15);
    }
    @media (min-width: $screen-xl-min) {
        width: 300px;
        height: 600px;
    }
}

.o-swiper-content--inverted {
    .o-swiper-content-banner__text-panel {
        @media (min-width: $screen-md-min) {
            position: relative;
            margin-left: auto;
        }
    }
    .o-swiper-content-banner__app-screen {
        @media (min-width: $screen-md-min) {
            right: 0;
            left: 82px;
        }
    }
}

.o-swiper-content-banner__new-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -85px;
    left: 50%;
    width: 110px;
    height: 110px;
    margin-left: -55px;
    padding: 10px;
    border-radius: 100px;
    background-color: $brand-color-1;
    color: $white;
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.375rem;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
        top: -75px;
    }

    @media (min-width: $screen-md-min) {
        width: 120px;
        height: 120px;
        margin-left: -60px;
        top: -30px;
        left: 95%;
    }
}
