/* ==========================================================================
   #ALERT
   ========================================================================== */

.o-alert {
    z-index: 100;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $brand-color-1;

    @media (min-width: $screen-md-min) {
        padding: 15px 40px;
    }

    @if $theme== 'a' {
        width: 100%;
    } @else if $theme== 'b' {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% - 20px);
        margin: 10px;
        border-radius: 15px;
    }
}

.o-alert__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;

    @media (min-width: $screen-md-min) {
        flex-direction: row;
    }
}

.o-alert__text {
    font-size: 1.062rem;
    font-weight: normal;
    color: $white;
    margin-bottom: 20px;

    @media (min-width: $screen-md-min) {
        flex-direction: row;
        margin-bottom: 0;
    }
}

.o-alert__button {
    width: auto;
    @media (min-width: $screen-md-min) {
        margin-left: 20px;
    }
}
